@page "/admin"
@inject HttpClient Http

<h3>Admin Page</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="NewCustomer" Style="min-width:200px; padding:15px;">Register New Customer</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="EditCustomer" Style="min-width:200px; padding:15px;">Edit Customer</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="NewProduct" Style="min-width:200px; padding:15px;">Register New Product</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="EditProduct" Style="min-width:200px; padding:15px;">Edit Product</MudButton>

@if (editCustomer == true)
{
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Search Customer Email" @bind-Value="customerSearch" />
	<MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" class="ml-auto" onclick="SearchCustomer">Search Customer to Edit</MudButton>
	@if (apiCall == true)
	{
		@if (apiResponse == "Customer not found")
		{
			<MudAlert Severity="Severity.Error" Class="m-3">@apiResponse</MudAlert>
		}
		else
		{
			<MudTextField Variant="Variant.Outlined" style="color: white" Label="UserName" @bind-Value="customer.username" />
			<MudTextField Variant="Variant.Outlined" style="color: white" Label="UserLevel" @bind-Value="customer.userlevel" Disabled="true" />
			<MudTextField Variant="Variant.Outlined" style="color: white" Label="FirstName" @bind-Value="customer.firstname" />
			<MudTextField Variant="Variant.Outlined" style="color: white" Label="LastName" @bind-Value="customer.lastname" />
			<MudTextField Variant="Variant.Outlined" style="color: white" Label="Email" @bind-Value="customer.email" />
			<MudTextField Variant="Variant.Outlined" style="color: white" Label="Mobile Number" @bind-Value="customer.mobile_number" />
			<MudTextField Variant="Variant.Outlined" style="color: white" Label="Street" @bind-Value="customer.delivery_adress.street" />
			<MudTextField Variant="Variant.Outlined" style="color: white" Label="Post Code" @bind-Value="customer.delivery_adress.post_code" />
			<MudTextField Variant="Variant.Outlined" style="color: white" Label="City" @bind-Value="customer.delivery_adress.city" />
			<MudTextField Variant="Variant.Outlined" style="color: white" Label="Country" @bind-Value="customer.delivery_adress.country" />
			<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="UpdateUser">Update User</MudButton>
		}
	}
}

@if (newCustomer == true)
{
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="UserName" @bind-Value="customer.username" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="UserLevel" @bind-Value="customer.userlevel" Disabled="true" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="FirstName" @bind-Value="customer.firstname" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="LastName" @bind-Value="customer.lastname" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Email" @bind-Value="customer.email" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Mobile Number" @bind-Value="customer.mobile_number" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Street" @bind-Value="customer.delivery_adress.street" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Post Code" @bind-Value="customer.delivery_adress.post_code" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="City" @bind-Value="customer.delivery_adress.city" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Country" @bind-Value="customer.delivery_adress.country" />
	<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="RegUser">Register</MudButton>
	@if (apiCall == true)
	{
		if (apiResponse == "Customer not found")
		{
			<MudAlert Severity="Severity.Error" Class="m-3">@apiResponse</MudAlert>
		}
		else
		{
			<MudAlert Severity="Severity.Success" Class="m-3">@apiResponse</MudAlert>
		}
	}
}

@if (editProduct == true)
{
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Search Product" @bind-Value="productSearch" />
	<MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" class="ml-auto" onclick="SearchProduct">Search Product to Edit</MudButton>
	@if (apiCall == true)
	{
		@if (apiResponse == "Customer not found")
		{
			<MudAlert Severity="Severity.Error" Class="m-3">@apiResponse</MudAlert>
		}
		else
		{
			<MudTextField Variant="Variant.Outlined" style="color: white" Label="Product Name" @bind-Value="product.name" />
			<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="UpdateUser">Update User</MudButton>
		}
	}
}

@if (newProduct == true)
{
	<MudTextField Variant="Variant.Outlined" InputType="InputType.Number" style="color: white" Label="Product SKU" @bind-Value="product.sku" Disabled="true" />
	<MudTextField Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.CurrencyBitcoin" InputType="InputType.Number" style="color: white" Label="Product Price" @bind-Value="product.price" />
	<MudSwitch @bind-Value="product.in_stock" Label="Product in stock?" Color="Color.Primary" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Product Name" @bind-Value="product.name" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Product Apperance" @bind-Value="product.appearance" />
	<MudTextField Variant="Variant.Outlined" InputType="InputType.Number" style="color: white" Label="Product Atomic Mass" @bind-Value="product.atomic_mass" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Product Category" @bind-Value="product.category" />
	<MudTextField Variant="Variant.Outlined" InputType="InputType.Number" style="color: white" Label="Product Density" @bind-Value="product.density" />
	<MudTextField Variant="Variant.Outlined" InputType="InputType.Number" style="color: white" Label="Product Melting Point" @bind-Value="product.melt" />
	<MudTextField Variant="Variant.Outlined" InputType="InputType.Number" style="color: white" Label="Product Boiling Point" @bind-Value="product.boil" />
	<MudTextField Variant="Variant.Outlined" InputType="InputType.Number" style="color: white" Label="Product Number" @bind-Value="product.number" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Product Phase" @bind-Value="product.phase" />
	<MudTextField Variant="Variant.Outlined" InputType="InputType.Url" style="color: white" Label="Product Wiki Source" @bind-Value="product.source" />
	<MudTextField Variant="Variant.Outlined" InputType="InputType.Url" style="color: white" Label="Product Bohr Model Image" @bind-Value="product.bohr_model_image" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Product Summary" @bind-Value="product.summary" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Product Symbol" @bind-Value="product.symbol" />
	<MudTextField Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Tag" style="color: white" Label="Product CPK Hex" @bind-Value="product.cpk_hex" />
	<MudTextField Variant="Variant.Outlined" style="color: white" Label="Product Block" @bind-Value="product.block" />
	<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="RegUser">Register</MudButton>
	@if (prodRegSuccess == true)
	{
		<MudAlert Severity="Severity.Success" Class="m-3">User Registered Successfully!</MudAlert>
	}
}

@code {
	private bool newCustomer = false;
	private bool newProduct = false;
	private bool editProduct = false;
	private bool editCustomer = false;


	private bool prodRegSuccess = false;

	private bool apiCall = false;

	private string apiResponse = string.Empty;

	private string customerSearch = string.Empty;
	private string productSearch = string.Empty;
	private string editField = string.Empty;
	private string editValue = string.Empty;

	Customers customer = new Customers();
	Products product = new Products();

	private void NewCustomer()
	{
		newProduct = false;
		editCustomer = false;
		editProduct = false;
		newCustomer = true;
		customer = new Customers()
			{
				email = "",
				username = "",
				userlevel = "customer",
				firstname = "",
				lastname = "",
				mobile_number = "",
				delivery_adress = new DeliveryAddress()
				{
					street = "",
					post_code = "",
					city = "",
					country = ""
				}
			};
		StateHasChanged();
	}

	private void NewProduct()
	{
		newCustomer = false;
		editCustomer = false;
		editProduct = false;
		newProduct = true;
		product = new Products()
			{
				sku = 0,
				price = 0,
				in_stock = false,
				name = "",
				appearance = "",
				atomic_mass = 0,
				category = "",
				density = 0,
				melt = 0,
				boil = 0,
				number = 0,
				phase = "",
				source = "",
				bohr_model_image = "",
				summary = "",
				symbol = "",
				cpk_hex = "",
				block = ""
			};
		StateHasChanged();
	}

	private void EditProduct()
	{
		newCustomer = false;
		newProduct = false;
		editCustomer = false;
		editProduct = true;
		StateHasChanged();
	}

	private void EditCustomer()
	{
		newCustomer = false;
		newProduct = false;
		editProduct = false;
		editCustomer = true;
		StateHasChanged();
	}

	private async void SearchCustomer()
	{
		apiCall = false;
		customer = await Http.GetFromJsonAsync<Customers>($"http://localhost:5132/customers/{customerSearch}");
		apiCall = true;
		if (customer == null)
		{
			apiResponse = "Customer not found";
		}

		StateHasChanged();
	}

	private async void SearchProduct()
	{
		apiCall = false;
		product = await Http.GetFromJsonAsync<Products>($"http://localhost:5132/products/{productSearch}");
		apiCall = true;
		if (product == null)
		{
			apiResponse = "Product not found";
		}
		StateHasChanged();
	}

	private async void RegUser()
	{
		var response = await Http.PostAsJsonAsync<Customers>("http://localhost:5132/customers", customer);
		if (response.StatusCode == System.Net.HttpStatusCode.OK)
		{
			apiCall = true;
			apiResponse = response.Content.ReadAsStringAsync().Result;
			StateHasChanged();
		}
	}

	private async void RegProduct()
	{
		var response = await Http.PostAsJsonAsync<Products>("http://localhost:5132/products", product);
		if (response.StatusCode == System.Net.HttpStatusCode.OK)
		{
			prodRegSuccess = true;
			StateHasChanged();
		}
	}

	private async void UpdateUser()
	{
		var response = await Http.PatchAsJsonAsync<Customers>("http://localhost:5132/customers", customer);
		if (response.StatusCode == System.Net.HttpStatusCode.OK)
		{
			apiCall = true;
			apiResponse = response.Content.ReadAsStringAsync().Result;
			StateHasChanged();
		}
	}

	private async void UpdateProduct()
	{
		
	}
}
